html {
    font-family: monospace;
    color: #444;
}

body {
    margin: 0px;
}

div#sidebar {
    float: right;
    width: 200px;
    border-left: 1px solid #444;
    background-color: #aaa;
    height: 480px;
    padding: 6px;
}

div#sidebar #join-channel {
    width: 100px;
}

div#tab-names div.names {
    margin: 10px;
    background-color: white;
    overflow: auto;
    height: 400px;
}

div#tab-names div.names div {
    display: block;
}

div#tab-titles div {
    padding: 6px;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

div#tab-panels {
}

div#tab-panels div.panel {
    height: 480px;
    padding: 6px;
    overflow: auto;
}

div#tab-buttons {
    border-top: 1px solid #444;
    padding: 6px;
}

div#tab-buttons div {
    display: inline;
    margin-right: 12px;
}

div#tab-buttons div.alert {
    color: red;
}

form#send-form {
    padding: 6px;
}

div#errors {
    padding: 6px;
    font-weight: bold;
    color: #d00;
}
