html {
    font-family: monospace;
    color: #444;
}

body {
    margin: 0px;
}

div#sidebar {
    float: right;
    width: 200px;
    border-left: 1px solid #444;
    background-color: #aaa;
    height: 480px;
    padding: 6px;
}

div#tab-titles div {
    padding: 6px;
    font-weight: bold;
}

div#tab-panels {
}

div#tab-panels div.tab {
    height: 480px;
    padding: 6px;
    overflow: auto;
}

div#tab-buttons {
    border-top: 1px solid #444;
    padding: 6px;
}

div#tab-buttons div {
    display: inline;
    margin-right: 12px;
}

div#tab-buttons div.alert {
    color: red;
}

form#send-form {
    padding: 6px;
}
